@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  background-color: black;
  color: white;
  overflow-y: scroll;
}

.arrows {
  color: white;
  font-size: 3rem;
  display: flex;
  gap: 1.5rem;
}

.arrows .icon {
  width: 1.4rem;
  height: 1.4rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  display: relative;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  display: relative;
  cursor: pointer;
}

.img_profile_photo {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
}

.music_cover_img {
  width: 50%;
  height: 100%;
}

.cover_img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.middleFeed {
  display: flex;
  gap: 5rem;
}

.mainFeed {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

*/ * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Side Bar Styles  */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.home {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.home p {
  margin: 0;
  font-size: 1.5rem;
  white-space: nowrap;
}

.navText p {
  margin: 0;
  font-size: 1.5rem;
  padding-left: 1rem;
}

/* Add hover effect for better UX */
.home:hover p,
.navText:hover p {
  color: green;
}

.spotify {
  display: flex;
  color: white;
  font-size: 2.4rem;
  font-family: Proxima Nova, Consolas, "Courier New", monospace;
  font-style: bold;
  align-items: center;
  gap: 1.5rem;
}

.spotify svg {
  width: 5.4rem;
  height: 5.4rem;
}

.profile_name svg {
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.profile_name {
  font-size: 2rem;
}

/* Music Box */
.music_box {
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40rem;
  padding: 2rem 2rem;
}

.music_information_div {
  /* background-color: orange; */
  background-color: #ff4500;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
}

.music_information_div p {
  font-size: 2rem;
  padding: 2rem 2rem;
}

.music_recommender {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.music_name {
  font-size: 6.4rem;
  padding: 0 2rem;
}

.music_recommender_profile img,
.music_recommender_profile .profile_info p,
.music_recommender_profile p {
  margin: 0;
}

.music_recommender_profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

.recommender_profile_part1 {
  display: flex;
  margin: -2rem;
  margin-top: 2rem;
}

.recommend_date {
  margin-left: 6rem;
}

.recommend_date p {
  font-size: 1.4rem;
}

.music_recommender_photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.music_cover {
  /* background-color: yellow; */
}
.music_cover img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

/* .music_reviews_div {
  display: flex;
  flex-direction: column;
} */

.individual_reviews_div {
  display: flex;
}

.music_reviews {
  display: flex;
  flex-direction: column;
}

.add_to_play_list {
  display: flex;
  align-items: center;
  align-items: center;
}

.add_to_play_list button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 8px; /* Optional: adds space between the text and the SVG */
  background-color: transparent;
  /* border: 0; */
  color: white;
}

.profile_topright {
  background-color: #333;
  font-size: 1.4rem;
  gap: 2rem;
  width: 18rem;
  position: absolute;
  top: 8rem;
  right: -8rem;
  z-index: 1;
  transform: translateX(-50%);
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
}

.profile_topright ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  display: absolute;
  left: 0;
}

.logout-item {
  border-top: 0.1rem solid #666;
  padding-top: 0.8rem;
  margin-top: 0.8rem;
}

.account-item {
  display: flex;
  align-items: center;
}

.account-icon {
  margin-left: 6rem;
  width: 1.8rem;
  height: 1.8rem;
}

/* Profile */
.user_profile_whole_div {
  /* background-color: green; */
  margin-left: 25rem;
  padding: 2rem 2rem;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user_profile {
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.user_account_profile_img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile_extra_info {
  display: flex;
  align-items: flex-end;
  gap: 1.4rem;
  font-size: 1.4rem;
  color: #959292;
}

user_profile_name. p {
  font-size: 3rem;
}

.top_artists_this_month {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem;
}

.profile_h1 {
  font-size: 3.4rem;
  margin-top: 5rem;
}

.only_visible_to_you {
  font-size: 1.6rem;
  color: #959292;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  flex-basis: 20%;
}

.artist p {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

.artist img {
  width: 15rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.follower_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.follower_photo {
  background-color: #333;
}

.follower_username_name {
  display: flex;
  flex-direction: column;
}

.follower_card img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
}

.follower_photo img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.follower_username_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow_cards {
  display: flex;
  margin-top: -8rem;
}

.follow_card {
  margin-top: 5rem;
  padding: 5rem;
}

.follow_card img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.exp {
  background-color: #333;
  width: 20rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Song tracks */
.top_tracks_this_month {
  /* background-color: green; */
  padding: 0 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.track {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem;
}

.track_img img {
  width: 8rem;
  height: 8rem;
  border: 2rem;
}

.track_name_info p,
.track_title p,
.track_love p,
.track_duration p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track_name_info p:nth-last-child(1) {
  color: #8a8686;
}

.track_img img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.public_tracks {
  /* background-color: green; */
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.public_track_div {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 20rem;
  margin: 1rem;
}

.public_playlist {
  width: 100%;
}

.public_playlist_img img {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  margin: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.public_playlist > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.public_playlist > div:nth-child(2) p {
  margin: 0.5rem 0;
  color: white;
  font-size: 1.2rem;
}

/* fixing scroll bar issues */

/* request */
/* .request_main_div {
  background-color: orange;
} */
/* SearchContent.css */
.search-container {
  display: flex;
  margin-top: 2rem;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 30px;
  background-color: #444;
  color: white;
  font-size: 20px;
}

.cancel-button {
  color: white;
  padding: 1px 30px;
  font-size: 1.8rem;
}

.user_profile_name_search {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}

.search_user_profile_img {
  width: 5rem;
  height: 5em;
  border-radius: 50%;
  object-fit: cover;
}
