@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  background-color: black;
  color: white;
}

.arrows {
  color: white;
  font-size: 3.0rem;
  display: flex;
  gap: 1.5rem;
}

.arrows .icon {
  width: 1.4rem;
  height: 1.4rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.img_profile_photo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.img_profile_photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.music_cover_img {
  width: 50%;
  height: 100%;
}

.cover_img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.middleFeed {
  display: flex;
  gap: 5rem;
}

.mainFeed {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
*/ * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Side Bar Styles  */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.home {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.home p {
  margin: 0;
  font-size: 1.5rem;
  white-space: nowrap;
}

.navText p {
  margin: 0;
  font-size: 1.5rem;
  padding-left: 1rem;
}

/* Add hover effect for better UX */
.home:hover p,
.navText:hover p {
  color: green;
}

.spotify {
  display: flex;
  color: white;
  font-size: 2.4rem;
  font-family: Proxima Nova, Consolas, "Courier New", monospace;
  font-style: bold;
  align-items: center;
  gap: 1.5rem;
}

.spotify svg{
  width: 5.4rem;
  height: 5.4rem;
}

.profile_name svg{
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.profile_name {
  font-size: 1.5rem; 
}

/* Music Box */
.music_box {
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40rem;
  padding: 2rem 2rem;
}

.music_information_div {
  /* background-color: orange; */
  background-color: #ff4500;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
}

.music_information_div p {
  font-size: 2rem;
  padding: 2rem 2rem;
}

.music_recommender {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.music_name {
  font-size: 6.4rem;
  padding: 0 2rem;
}

.music_recommender_profile img,
.music_recommender_profile .profile_info p,
.music_recommender_profile p {
  margin: 0;
}

.music_recommender_profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

.recommender_profile_part1 {
  display: flex;
  margin: -2rem;
  margin-top: 2rem;
}

.recommend_date {
  margin-left: 6rem;
}

.recommend_date p {
  font-size: 1.4rem;
}

.music_recommender_photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.music_cover {
  /* background-color: yellow; */
}
.music_cover img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

/* .music_reviews_div {
  display: flex;
  flex-direction: column;
} */

.individual_reviews_div {
  display: flex;
}

.music_reviews {
  display: flex;
  flex-direction: column;
}

.add_to_play_list {
  display: flex;
  align-items: center;
  align-items: center;
}

.add_to_play_list button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 8px; /* Optional: adds space between the text and the SVG */
  background-color: transparent;
  /* border: 0; */
  color: white;
}
